#macro(menuIcon $iconCls)
	<span class="$!iconCls" style="height:16px;width:16px;display:inline-block"></span>
#end

#macro(datagrid $datagrid)
	<table id="$!{datagrid.prefix}-datagrid" class="$!{datagrid.clazz}" title="$!{datagrid.title}"
		data-options="$!{datagrid.dataoptions}">
		<thead>
			<tr>
				#foreach($field in $!datagrid.fields)
				<th data-options="$!field.dataoptions">
					$!field.text
				</th>
				#end
			</tr>
		</thead>
	</table>
	
	<div id="$!{datagrid.prefix}-tb">
		#foreach($btn in $!{datagrid.tb.btns})
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="$!btn.dataoptions" onclick="$!{btn.fun}">$!btn.text</a>
		#end
	</div>
#end