<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EasySpring</title>
		<link rel="stylesheet" type="text/css"
			href="${contextPath}/resources/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/global.css">
		<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/admin.css">
		<script type="text/javascript" src="${contextPath}/resources/jquery.min.js"></script>
		<script type="text/javascript" src="${contextPath}/resources/easyui/js/jquery.easyui.min.js"></script>
	</head>
	<body class="easyui-layout">
        <div data-options="region:'north'" style="height:70px; text-align: center">
        	<h1>EasySpring后台管理</h1>
        </div>
        <div data-options="region:'south',split:true" style="height:50px;"></div>
        <div data-options="region:'west',split:true,title:'菜单栏',iconCls:'icon-ok'" style="width:250px;">
            <div class="easyui-accordion" data-options="fit:true,border:false">
                <div data-options="fit:true,collapsible:false" style="padding:10px;"><!-- 每一个div都是accordion中依赖的panel -->
                	<ul class="westBar" id="admin">
						<li id="adminUser">#menuIcon("icon-search")用户管理</li>
						<li id="adminRole">#menuIcon("icon-search")角色管理</li>
						<li id="adminPermission">#menuIcon("icon-search")权限管理</li>
					</ul>
                </div>
            </div>
        </div>
        <div data-options="region:'center',iconCls:'icon-ok'">
            <div id="admin_tabs" class="easyui-tabs" data-options="fit:true,border:false,plain:true">
            </div>
        </div>
		<script type="text/javascript">
		var contextPath = "$!contextPath";
		
		$(function(){
			$("ul.westBar li").on("click", function(){
				$("ul.westBar li").removeClass('active');
				$(this).addClass('active');
				
				var id = $(this).attr('id');
				if($(this).hasClass('zdialog')){
					$('#' + id + '-dialog').dialog('open');
					return;
				}
				var id = $(this).attr('id');
				var title = $(this).text();
				var iconCls = $(this).find("span").attr('class');
				var parent = $(this).parent().attr('id');
				addTabs(id, title, iconCls, parent);
			})
		});
		
		function addTabs(id, title, iconCls, parent){
			if($('#admin_tabs').tabs('exists',title)){
				$('#admin_tabs').tabs('select',title);
				return;
			}
			if(!iconCls){
				iconCls = 'icon-ok';
			}
			$('#admin_tabs').tabs('add',{
				title: title,
				href: contextPath + '/' + parent + '/' + id,
				iconCls: iconCls,
				closable: true,
				onBeforeLoad:function(param){
					if(title == '报修中心'){
						if($('#repairsPaper')[0]){
							$('#repairsPaper').dialog('destroy', true);
							$('#dispatchesPaper').dialog('destroy', true);
							$('#verifyPaper').dialog('destroy', true);
						}						
					}
				},
				onLoadError:function(data){
					var tab = $('#admin_tabs').tabs('getSelected');
					var body = tab.panel('body');
					if(data.status == 401){
						body.html(data.responseText)
					}else{
						body.html('<h1>加载出错</h1>');
					}
				}
			});
		}
		</script>
	</body>
</html>